// color variables
//  color variables
$clr-primary: #0e48fe;
$clr-primary-hover: #29e6a7;
$clr-primary-dark: #039d69;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #c7ccdb;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

//   border radius
$radius: 0.2rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mukta", sans-serif;
  color: $clr-gray600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: 250ms opacity ease-in;
  &__container {
    background-color: white;
    width: 26rem;
    padding: 1.5rem;
    border-radius: $radius;
  }

  &__title {
    text-align: center;
  }

  &__paragraph {
    line-height: 1.5rem;
    border-top: 1px solid $clr-gray200;
    padding: 1rem 0;
  }

  &__buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
  }

  &-visible {
    opacity: 1;
    pointer-events: auto;
  }
}

button {
  font-family: inherit;
  padding: 0.4rem 0.8rem;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid $clr-primary;
  border-radius: $radius;
}

.btn-primary {
  background-color: $clr-primary;
  color: white;
}

.btn-secondary {
  background-color: transparent;
  color: $clr-primary;
}
