/*   color variables */
/*   border radius */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-color: #f9fbff;
  margin: 2rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(12rem, 0.3fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(12rem, 0.3fr));
  grid-auto-rows: 12rem;
  gap: 0.5rem;
}

.card {
  overflow: hidden;
  border-radius: 0.2rem;
  cursor: pointer;
  position: relative;
}

.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
}

.card__details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(2px) brightness(1.3);
          backdrop-filter: blur(2px) brightness(1.3);
  opacity: 0;
  -webkit-transition: opacity 350ms;
  transition: opacity 350ms;
}

.card__details h2 {
  text-align: center;
  line-height: 1.5rem;
  color: #f9fbff;
  text-shadow: 0 0 20px #161d34, 0 0 5px #4f546c;
  position: relative;
  top: 1rem;
  -webkit-transition: top 350ms;
  transition: top 350ms;
}

.card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card:hover .card__details {
  opacity: 1;
}

.card:hover .card__details h2 {
  top: 0;
}
