*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

input {
  outline: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.container {
  -webkit-box-shadow: 0 0 10px #e1e5ee;
          box-shadow: 0 0 10px #e1e5ee;
  min-width: 280px;
  height: auto;
  margin: 100px;
  padding: 20px;
}

.container__title {
  text-align: center;
  font-size: 1.8rem;
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    min-width: 650px;
  }
}

input[type="text"] {
  font-family: inherit;
  margin-left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
  border: 2px solid #2a324b;
  border-radius: 5px;
}

@media (min-width: 768px) {
  input[type="text"] {
    margin-left: 0;
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.form__radioBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  gap: 0.7rem;
}

.label__radio {
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
}

input[type="radio"] {
  cursor: pointer;
}

@media (min-width: 768px) {
  .form__radioBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 10px;
    gap: 0.7rem;
  }
}

.form__button {
  background-color: #5000bb;
  color: #fff;
  display: inline-block;
  width: 40%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  border-radius: 0.4rem;
  border: 1px solid #fff;
  -webkit-transition: background-color 400ms ease-in;
  transition: background-color 400ms ease-in;
}

.form__button:hover {
  background-color: #8c54d4;
}

@media (min-width: 768px) {
  .form__button {
    width: 80%;
  }
}

urls {
  border-radius: 2px;
  padding: 0 10px;
}

urls__post {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

urls__post img {
  padding: 5px;
  height: auto;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

urls__post__subtitle {
  margin-bottom: 20px;
}

urls__post > div {
  display: block;
  -webkit-box-shadow: 10px 5px 10px rgba(17, 16, 16, 0.5);
          box-shadow: 10px 5px 10px rgba(17, 16, 16, 0.5);
  width: 100%;
  margin: 10px auto;
  text-align: center;
  position: relative;
  background-color: #a68dc7;
  color: #fff;
  border-radius: 5px;
}

urls__post > div a {
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}

urls__post > div {
  padding: 40px;
}

urls__post > div i {
  position: absolute;
  top: 20px;
  right: 25px;
  color: #5000bb;
  cursor: pointer;
}

urls__post > div iframe {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .urls__post > div {
    max-width: 70%;
  }
  .urls__post > div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: center;
  }
  .urls {
    border-radius: 2px;
    padding: 0 50px;
  }
  .urls__post {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .urls__post img {
    max-width: 480px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .urls__post > div a {
    font-size: 1rem;
  }
  .urls__post > div {
    padding: 40px;
    height: auto;
  }
  .urls__post > div iframe {
    max-width: 85%;
    height: 100%;
  }
}
